<div class="background">
    <div class="container">
      <div class="screen">
        <div class="screen-header">
          <div class="screen-header-left">
            <div class="screen-header-button close"></div>
            <div class="screen-header-button maximize"></div>
            <div class="screen-header-button minimize"></div>
          </div>
          <div class="screen-header-right">
            <div class="screen-header-ellipsis"></div>
            <div class="screen-header-ellipsis"></div>
            <div class="screen-header-ellipsis"></div>
          </div>
        </div>
        <div class="screen-body">


          <div class="screen-body-item left">
            <div class="app-title">
              <span>יצירת</span>
              <span>קשר</span>
            </div>
            <div class="app-contact"> פרטי יצירת קשר : 03-5784444    </div>
          </div>


          <div class="screen-body-item">

            <form  [formGroup]="contactUsForm" action="">

            <div class="app-form">
              <div class="app-form-group">
                <input formControlName="Fullname" class="app-form-control" placeholder="שם מלא" value=" שם מלא">
              </div>
              <div class="app-form-group">
                <input formControlName="Email" class="app-form-control" placeholder="כתובת מייל">
              </div>
              <div class="app-form-group">
                <input formControlName="title" class="app-form-control" placeholder=" נושא">
              </div>
              <div class="app-form-group message">
                
                <input formControlName="massage" class="app-form-control" placeholder="הודעה">
              </div>
              <div class="app-form-group buttons">
                <button (click)="cancel()" class="app-form-button">ביטול</button>
                <button (click)="onSubmit()" class="app-form-button-send">שליחה</button>
              </div>
            </div>
        </form>
            
          </div>
        </div>
      </div>
   
    </div>
  </div>
  