<div class="contact1">
  <div class="container-contact1">
    <div class="contact1-pic js-tilt" data-tilt>
      <img src="../../../assets/img-01.png" alt="IMG">
    </div>

    <form [formGroup]="contactUsForm" class="contact1-form validate-form">
      <h1 class="contact1-form-title">טופס יצירת קשר</h1>

      <div class="wrap-input1 validate-input" data-validate = "Name is required">
        <input  formControlName="fullName" class="input1" type="text" name="name" placeholder="שם מלא">
        <span class="shadow-input1"></span>
      </div>

      <div class="wrap-input1 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
        <input  formControlName="email" class="input1" type="text" name="email" placeholder="כתובת אימייל">
        <span class="shadow-input1"></span>
      </div>

      <div class="wrap-input1 validate-input" data-validate = "Subject is required">
        <input  formControlName="title" class="input1" type="text" name="subject" placeholder="נושא">
        <span class="shadow-input1"></span>
      </div>

      <div class="wrap-input1 validate-input" data-validate = "Message is required">
        <textarea  formControlName="message" class="input1" name="message" placeholder="הודעה"></textarea>
        <span class="shadow-input1"></span>
      </div>

      <div class="container-contact1-form-btn">
        <button (click)="onSubmit()" class="contact1-form-btn">
          <span>
            שליחת הודעה
            <i class="fas fa-envelope"  aria-hidden="true"></i>
          </span>
        </button>
      </div>
    </form>
  </div>
</div>
