<div class="contact1">
  <div class="container-contact1">

    <div>

      <div  class="contact1-pic js-tilte" data-tilt>
        <img src="../../../assets/img-01.png" alt="IMG">
      </div>
      <div  style="border: #57b846 1px solid; direction: rtl; padding: 10%; border-radius: 15px; background-color: #eff8ed; opacity:0.6; box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);" >
        <h2 style="text-align: center;" >דרכי התקשרות</h2><br>
        <div  style="display: flex;" >
            <span  class="material-icons">room</span>
               
            <p><a  href="https://www.google.co.il/maps/place/%D7%91%D7%9F+%D7%99%D7%94%D7%95%D7%93%D7%94,+%D7%AA%D7%9C+%D7%90%D7%91%D7%99%D7%91+%D7%99%D7%A4%D7%95%E2%80%AD/@32.0848998,34.7746338,17z/data=!3m1!4b1!4m5!3m4!1s0x151d4c778f670b69:0xb73995814a619857!8m2!3d32.0848953!4d34.7724451">
                   <strong>דרך ישראל 10 ת"א</strong>
                    </a>
                    <br>אין תצוגה במקום</p><br>

                
        </div><br>

        <div style="display: flex; ">
            <span style="margin-left: 3%" class="material-icons">call</span>
            <p><strong> <a  href="tel:123-456-7890p123">058-123-4567</a> </strong> <br></p><br><br>
        </div>

        <div style="display: flex; ">
            <span style="margin-left: 3%" class="material-icons">mail_outline</span>
                <p><strong>  <a href="mailto:name@rapidtables.com">picpictureservice@gmail.com</a></strong> <br></p>
                
        </div>
            
     </div>    </div>

    <form [formGroup]="contactUsForm" class="contact1-form validate-form">
      <h1 class="contact1-form-title">טופס יצירת קשר</h1>

      <div class="wrap-input1 validate-input" data-validate = "Name is required">
        <input  formControlName="fullName" class="input1" type="text" name="name" placeholder="שם מלא">
        <span class="shadow-input1"></span>
      </div>

      <div class="wrap-input1 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
        <input  formControlName="email" class="input1" type="text" name="email" placeholder="כתובת אימייל">
        <span class="shadow-input1"></span>
      </div>

      <div class="wrap-input1 validate-input" data-validate = "Subject is required">
        <input  formControlName="title" class="input1" type="text" name="subject" placeholder="נושא">
        <span class="shadow-input1"></span>
      </div>

      <div class="wrap-input1 validate-input" data-validate = "Message is required">
        <textarea  formControlName="message" class="input1" name="message" placeholder="הודעה"></textarea>
        <span class="shadow-input1"></span>
      </div>

      <div class="container-contact1-form-btn">
        <button (click)="onSubmit()" class="contact1-form-btn">
          <span>
            שליחת הודעה
            <i class="fas fa-envelope"  aria-hidden="true"></i>
          </span>
        </button>
      </div>
    </form>
  </div>
</div>
