<!-- <div *ngIf="ctrl.touched && ctrl.invalid">
        <div *ngFor="let errKVP of ctrl.errors | keyvalue" [ngSwitch]="errKVP.key" >
            <span *ngSwitchCase="'required'">you are required!!!</span>
            <span *ngSwitchCase="'pattern'">you are not ok byby pattern !!! - {{errKVP.value.requiredPattern}}</span>
            <span *ngSwitchCase="'min'">min {{errKVP.value.min}}</span>
            <span *ngSwitchCase="'max'">max {{errKVP.value.max}}</span>
            <span *ngSwitchCase="'email'">email {{errKVP.value.email}}</span>
        </div>
    </div> -->

    

<!-- <div *ngIf="ctrl.touched && ctrl.invalid">
    <div *ngFor="let errKVP of ctrl.errors | keyvalue" [ngSwitch]="errKVP.key" >
        <span *ngSwitchCase="'required'">you are required!!!</span>
        <span *ngSwitchCase="'pattern'">you are not ok byby pattern !!! - {{errKVP.value.requiredPattern}}</span>
        <span *ngSwitchCase="'min'">min {{errKVP.value.min}}</span>
        <span *ngSwitchCase="'max'">max {{errKVP.value.max}}</span>
        <span *ngSwitchCase="'minLength'">minLength {{errKVP.value.minLength}}</span>
        <span *ngSwitchCase="'email'">email {{errKVP.value.email}}</span>
    </div>
</div>


<button (click)="logy()">log</button> -->

