<h1 style="text-align: center; margin: 0%; color: #232d54;">כניסת חברים – ברוכים הבאים</h1><br>

<h3 style="color: #232d54;">.על מנת להכנס לאזור האישי שלך - אנא מלא שם משתמש וסיסמה. אם אינך רשום עדיין, מומלץ להרשם
  (חינם) כעת ולקבל הטבות שוות במיוחד</h3>


<div style="background-color: rgb(244, 247, 241); display: flex;">

  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" style="width: 40%; margin: 24px;" dir="rtl" action="">

    <input  id="inputs0"  formControlName="firstName" type="text" placeholder="הזן שם פרטי" [ngClass]="{'has-error' :
    registerForm.get('firstName').errors &&
    (registerForm.get('firstName').touched || 
    registerForm.get('firstName').dirty)}">
    <span *ngIf="registerForm.get('firstName').errors &&
    (registerForm.get('firstName').touched || 
    registerForm.get('firstName').dirty)">
      <span style="color: red;" *ngIf="registerForm.get('firstName').errors.required">
        זהו שדה חובה
      </span>
      <span style="color: red;" *ngIf="registerForm.get('firstName').errors.minlength">
        שם פרטי חייב להיות לפחות 2 אותיות
      </span>
    </span>
    <input id="inputs2" formControlName="email" type="text" placeholder='הזן כתובת דוא"ל' [ngClass]="{'has-error' :
    registerForm.get('email').errors &&
    (registerForm.get('email').touched || 
    registerForm.get('email').dirty)}">

    <span *ngIf="registerForm.get('email').errors &&
    (registerForm.get('email').touched || 
    registerForm.get('email').dirty)">
      <span style="color: red;" *ngIf="registerForm.get('email').errors.required">
        זהו שדה חובה
      </span>
      <span style="color: red;" *ngIf="registerForm.get('email').errors.email">
        כתובת מייל לא חוקית
      </span>
    </span>

    <input id="inputs3" formControlName="password" class="b" type="password" placeholder="הזן סיסמה" [ngClass]="{'has-error' :
    registerForm.get('password').errors &&
    (registerForm.get('password').touched || 
    registerForm.get('password').dirty)}
    ">
    <span *ngIf="registerForm.get('password').errors &&
    (registerForm.get('password').touched || 
    registerForm.get('password').dirty)">
      <span style="color: red;" *ngIf="registerForm.get('password').errors.required">
        זהו שדה חובה
      </span>
      <span style="color: red;" *ngIf="registerForm.get('password').errors.minlength">
        סיסמה חייבת להיות בעלת 8 תווים
      </span>
    </span>

    <br>
    <button (click)="getUserName()"  style="background-color: #232d54; width: 77%; height: 45px;" mat-raised-button
      color="primary">הרשמה</button>
    <!-- <button class="btn btn-secondary" type="reset" (click)="onReset()">ביטול</button> -->
  </form>

  <div class="wrapper">
    <div class="line"></div>
    <div class="wordwrapper">
      <div class="word">או</div>
    </div>
  </div>

  <div dir="rtl" class="container">
    <form action="/action_page.php">
      <div class="row">


        <div class="col">
          <a href="#" class="fb btn">
            <i class="fa fa-facebook fa-fw"></i>הרשמה מהירה עם פייסבוק
          </a>
          <a href="#" class="twitter btn">
            <i class="fa fa-twitter fa-fw"></i> הרשמה מהירה עם טוויטר
          </a>
          <a href="#" class="google btn"><i class="fa fa-google fa-fw">
            </i>הרשמה מהירה עם גוגל
          </a>
        </div>
      </div>

    </form>
  </div>


</div>
<div style="text-align: center; margin: 0%; background-color: #f2f2f2">
  <i>כבר רשום באתר? כנס בקלות </i><br>
  <button style="color: red; cursor: pointer;" (click)="openDialog()" mat-button mat-dialog-close> מכאן</button>
</div>