<h1 style="text-align: center; margin: 0%">כניסת חברים – ברוכים הבאים</h1><br>


<h3>.על מנת להכנס לאזור האישי שלך - אנא מלא שם משתמש וסיסמה. אם אינך רשום עדיין, מומלץ להרשם (חינם) כעת ולקבל הטבות שוות במיוחד</h3>

<form action="">
    <span>שם פרטי<input type="text" placeholder="שם פרטי"></span><br>
    <span>שם משפחה<input type="text" placeholder="שם משפחה"></span><br>
    <span> כתובת מייל<input type="text" placeholder="כתובת מייל"></span><br>
    <span>סיסמה<input type="text" placeholder="סיסמה "></span><br>
</form>

    <form [formGroup]="newRegForm">
  
            <label> Name: <input formControlName="name"> </label><br>
            <validation-error [ctrl]="newRegForm.controls.name"></validation-error>
        
            <label> age: <input  formControlName="age"> </label><br>
            <validation-error [ctrl]="newRegForm.controls.age"></validation-error>
        
            <label> girraf: <input  formControlName="girraf"> </label><br>
            <validation-error [ctrl]="newRegForm.controls.girraf"></validation-error>
        
            <label> email: <input  formControlName="email"> </label><br>
            <validation-error [ctrl]="newRegForm.controls.email"></validation-error>
        
            <br><br>
          
            <button type="submit" [disabled]="!newRegForm.valid">Submit</button>
        </form>


ד
