<div class="footer">
    <div class="firstLineFotter" >

      <div class="firstElementInFirstLineFooter"  >
      <div class="scondeElementInFirstLineFooter" >
          <span style="font-size: 37px; padding: 10px;" class="material-icons">local_shipping</span>
          <p><strong>משלוחים לכל רחבי הארץ! </strong> <br> לצפון לדרום למרכז ולערבה! </p><br>
      </div>
      </div>

      <div class="firstElementInFirstLineFooter"  style=" margin: 30px; ">
          <div style="display: flex;">
              <span style="font-size: 37px; padding: 10px;" class="material-icons"> payment </span>
              <p><strong>החזר כספי מובטח! </strong> <br> התחרטתם או שיש תמונה שלא בא לכם עליה! </p><br>
          </div>
    </div>

      <div class="firstElementInFirstLineFooter"  style=" margin: 30px; ">
           <div style="display: flex;">
               <span style="font-size: 37px; padding: 10px;" class="material-icons"> settings </span>
               <p><strong>הדפסה באיכות הגבוהה ביותר! </strong> <br> מדפסות אפסון חדישות באיכות HD </p><br>
          </div>
    </div>
    </div>


  <div style="display: flex; margin-bottom: 5%">
    <div style="width: 80%;  height: 100%; margin-left: 1% ; margin-right: 5%; ">
        <h1 style="text-align: center">PicPicture</h1>
        <p>חברת PicPicture התחילה את דרכה בשנת 2020,<br>
           הראשונה למכור תמונות קנבס אונליין. אנו ב PicPicture מייצרים את המוצרים הטובים בשוק תוך שמירה על מחיר הוגן. <br>
            עם השנים למדנו להתאים את מוצרינו לשוק הישראלי ועם זאת להישאר בקדמת עולם העיצוב. <br>
            את התמונות שלנו ניתן לקבל במיגוון אפשרויות עצום, מאפשרויות חיתוך שונות ועד  בחירת עובי המסגרת,<br>
            הכל כדי להתאים את המוצר שלנו לסלון שלך</p>
    </div>
    <div style="width: 17%;  height: 100%; margin-left: 1% ; margin-right: 1%; ">
        <h2 style="text-align: center">החשבון שלי</h2>
        <ul>
          <li   routerLink="/img-home-living-room">החשבון שלי</li>
          <li  routerLink="/img-details/shpping-cart">ההזמנות שלי</li>
          <li  routerLink="/img-home-living-room"> תוכנית השותפים</li>
          <li  routerLink="/img-home-living-room">דוור</li>
          <li  routerLink="/img-home-living-room"> שובר מתנה</li>
        </ul>
        
    </div>
    <div style="width: 17%; height: 100%; margin-left: 1% ; margin-right: 1%; ">
      <h2 style="text-align: center">מידע</h2>
        <ul>
          <li  routerLink="/about-us">אודות</li>
          <li   routerLink="/app-payment-form" >תשלום ומשלוח</li>
          <li  routerLink="/img-home-living-room">שאלות ותשובות</li>
          <li  routerLink="/img-home-living-room">תקנון</li>
          <li  routerLink="/contact-us">צרו עמנו קשר</li>
          <li  routerLink="/new-img">מיוחדים</li>
        </ul>
    </div>
    <div style="width: 34%;  height: 100%; margin-left: 1% ; margin-right: 1%; ">
        <h2 style="text-align: center">דרכי התקשרות</h2>
        <div style="display: flex;">
          <span  class="material-icons">room</span>
               
          <p><a  href="https://www.google.co.il/maps/place/%D7%91%D7%9F+%D7%99%D7%94%D7%95%D7%93%D7%94,+%D7%AA%D7%9C+%D7%90%D7%91%D7%99%D7%91+%D7%99%D7%A4%D7%95%E2%80%AD/@32.0848998,34.7746338,17z/data=!3m1!4b1!4m5!3m4!1s0x151d4c778f670b69:0xb73995814a619857!8m2!3d32.0848953!4d34.7724451">
                 <strong>דרך ישראל 10 ת"א</strong>
                  </a>
                  <br>אין תצוגה במקום</p><br><br>
        </div>

        <div style="display: flex; ">
          <span style="margin-left: 3%" class="material-icons">call</span>
          <p><strong> <a  href="tel:123-456-7890p123">058-123-4567</a> </strong> <br></p><br><br>
      </div>

      <div style="display: flex; ">
        <span style="margin-left: 3%" class="material-icons">mail_outline</span>
            <p><strong>  <a href="mailto:name@rapidtables.com">picpictureservice@gmail.com</a></strong> <br></p>
            
    </div>
            
     </div>
    
  </div>
  <p style="  text-align: center">© All rights reserved to A.N.L Design | Bieber Global Design & Development</p>
</div>
