.footer{
    position:relative;
    color: #fff;
    bottom: 0;
    width: 100%;
    flex-shrink: 0;
    height: 45%;
    background-color: #232d54;
    direction: rtl;
}

.firstLineFotter{
    width: 80%;
    margin-right: 15%;
    display: flex;  
}

.firstElementInFirstLineFooter{
    margin: 30px;  
}
.scondeElementInFirstLineFooter{
    display: flex;
}
li{
    cursor: pointer;
}

@media screen and (max-height: 700px) {
    .footer{
        position:relative;
        color: #fff;
        bottom: 0;
        width: 100%;
        flex-shrink: 0;
        height: 65%;
        background-color: #232d54;
        direction: rtl;
    }
}


