<mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>
        <div class="big-card">
<p>aaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
        </div>
        </mat-grid-tile>

    <mat-grid-tile>2
        <div class="big-card">
            <p>ffffffffffffffffffffffff</p>
                    </div>
    </mat-grid-tile>
  </mat-grid-list>

  <mat-grid-list cols="3" rows="3" rowHeight="1:1">
    <mat-grid-tile>1</mat-grid-tile>
    <mat-grid-tile>2</mat-grid-tile>
    <mat-grid-tile>3</mat-grid-tile>
  </mat-grid-list>

  <mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>1</mat-grid-tile>
    <mat-grid-tile>2</mat-grid-tile>
  </mat-grid-list>