<div style="display: flex;">
<div style="width: 65%; margin-left: 10%; margin-right: 10%;margin-top: 3%; margin-bottom: 3%; direction: rtl;">
<div class="row">
  <div class="col-75">
    <div class="container">
      <form action="/action_page.php">
      
        <div class="row">
          <div class="col-50">
            <h3>פרטי חיוב</h3>
            <label for="fname"><i class="fa fa-user"></i> שם מלא</label>
            <input type="text" id="fname" name="firstname">
            <label for="email"><i class="fa fa-envelope"></i> כתובת מייל</label>
            <input type="text" id="email" name="email">
            <label for="adr"><i class="fa fa-address-card-o"></i> כתובת</label>
            <input type="text" id="adr" name="address" >
            <label for="city"><i class="fa fa-institution"></i> עיר</label>
            <input type="text" id="city" name="city">

            <div class="row">
              <div class="col-50">
                <label for="state">אזור</label>
                <input type="text" id="state" name="מדינה">
              </div>
              <div class="col-50">
                <label for="zip">מיקוד</label>
                <input type="text" id="zip" name="מיקוד" >
              </div>
            </div>
          </div>

          <div class="col-50">
            <h3>תשלום</h3>
            <div class="icon-container">
        
              <div class="credit-cards-container">
                <div class="card-pic"><img class="card-icon" id="CardMastercard" alt="Mastercard" src="https://cashcow-cdn.azureedge.net/system/credit_cards/h50/mastercard.png"  
                     style="display: inline-block; "></div>

                <div class="card-pic"><img class="card-icon" id="CardAmericanExpress" alt="American Express" src="https://cashcow-cdn.azureedge.net/system/credit_cards/h50/american.png"
                    style="display: inline-block;"></div>
                
                <div class="card-pic"><img class="card-icon" id="CardVisa" alt="Visa" src="https://cashcow-cdn.azureedge.net/system/credit_cards/h50/visa.png"  
                  style="display: inline-block;"></div>
                
                <div class="card-pic"><img class="card-icon" id="CarCardPcidPaypal" alt="PCI" src="https://cashcow-cdn.azureedge.net/system/credit_cards/h50/pci.png" 
                    style="display: inline-block;"></div>
                
                <div class="card-pic"><img class="card-icon" id="CardSSl" alt="SSL secured" src="https://cashcow-cdn.azureedge.net/system/credit_cards/h50/ssl.png" 
                 style="display: inline-block;"></div>
                
              </div>
            </div>
            <label for="cname">שם בעל הכרטיס</label>
            <input type="text" id="cname" name="cardname" >
            <label for="ccnum">מספר הכרטיס</label>
            <input type="text" id="ccnum" name="cardnumber">
            <label for="expmonth">תוקף כרטיס: חודש</label>
            <input type="text" id="expmonth" name="expmonth" >
            <div class="row">
              <div class="col-50">
                <label for="expyear">תוקף כרטיס: שנה</label>
                <input type="text" id="expyear" name="expyear">
              </div>
              <div class="col-50">
                <label for="cvv">CVV</label>
                <input type="text" id="cvv" name="cvv" >
              </div>
            </div>
          </div>
          
        </div>
        <label>
          <input type="checkbox" name="sameadr"> אני מאשר את התקנון
        </label>
        <input type="submit" value="לתשלום מאובטח" class="btn">
      </form>
    </div>
  </div>

</div>
</div>


<!-- ------------------------------------------------------------------------------------------------------ -->

<div style="width: 35%; margin-left: 10%; margin-right: 10%;margin-top: 3%; margin-bottom: 3%; direction: rtl;">
  <div class="row">
    <div class="col-75">
      <div class="container">

        <h2 > פרטי ההזמנה  </h2>
        <table>
          <tr>
            <th>מוצר</th>
            <th>סכום ביניים</th>
          </tr>
          
          <tr *ngFor="let item of listOfItemsInBag; let j = index" >
            <td 
              *ngFor="let i of item" >
              <p>{{i.des }}</p>
              <p>{{i.printType }}</p>
              <p>{{i.printSize }}</p>
              <img style="width: 60px; height: 40px;" src={{i.url}} alt="" />

              
             </td>
            <td *ngFor="let i of item">{{ i.price | currency:'ILS'}}</td>
          </tr>
        
          <td>סח"ה</td> 
        

            <td  *ngFor="let item of listOfItemsInBag;">{{item.totalPrice  | currency:'ILS'}}</td>
         
        </table>



    </div>
  </div>
 </div>
</div>