<div style="display: flex;">
<div style="width: 65%; margin-left: 10%; margin-right: 10%;margin-top: 3%; margin-bottom: 3%; direction: rtl;">
<div class="row">
  <div class="col-75">
    <div class="container">
      <form  [formGroup]="paymentForm"  action="">
      
        <div class="row">
          <div class="col-50">
            <h3>פרטי חיוב</h3>
            
            <label for="fname"><i class="fa fa-user"></i> שם מלא \ שם חברה  <span style="color: red;"> * </span></label> 

            <span *ngIf="( paymentForm.get('fullName').errors &&(paymentForm.get('fullName').dirty) )
                || (!formIsInValid &&  paymentForm.get('fullName').errors )">

                 <span style="color: red;" *ngIf="paymentForm.get('fullName').errors.required && paymentForm.get('fullName').touched
                 || ( !formIsInValid  &&  paymentForm.get('fullName').errors  && paymentForm.get('fullName').errors.required )
                 ">
                  זהו שדה חובה
                </span>
                 <span style="color: red;" *ngIf="paymentForm.get('fullName').errors.minlength && paymentForm.get('fullName').touched">
                   שם משתמש חייב להיות בעלת 2 תווים
                 </span>
           </span>

            <input [ngStyle]="{ border: paymentForm.get('fullName').valid ? '2px solid #6dc22e' : '' }" type="text" id="fname" name="fullName" formControlName="fullName" [ngClass]="{'has-error':
              (paymentForm.get('fullName').errors &&
            (paymentForm.get('fullName').touched) )
          || ( !formIsInValid  &&  paymentForm.get('fullName').errors )
          } ">

  <!-- ------------------------------------------------------------------------------------------------------------- -->

            <label for="email"><i class="fa fa-envelope"></i> כתובת מייל <span style="color: red;"> * </span></label> 

            <span  *ngIf="( paymentForm.get('email').errors &&
            (paymentForm.get('email').dirty) )
             || (!formIsInValid &&  paymentForm.get('email').errors )">
              <span style="color: red;" *ngIf="paymentForm.get('email').errors.required && paymentForm.get('email').touched
              || ( !formIsInValid  &&  paymentForm.get('email').errors && paymentForm.get('email').errors.required  )">
               זהו שדה חובה
             </span>
              <span style="color: red;" *ngIf="paymentForm.get('email').errors.email && paymentForm.get('email').touched">
                כתובת מייל לא חוקית
              </span>
        </span>

            <input [ngStyle]="{ border: paymentForm.get('email').valid ? '2px solid #6dc22e' : '' }" type="text" id="email" name="email"  formControlName="email" [ngClass]="{'has-error':
            (paymentForm.get('email').errors &&
          (paymentForm.get('email').touched) )
        || ( !formIsInValid  &&  paymentForm.get('email').errors )
        }">

  <!-- ------------------------------------------------------------------------------------------------------------- -->

            <label for="adr"><i class="fa fa-address-card-o"></i>  כתובת <span style="color: red;"> * </span></label>

        <span  *ngIf="( paymentForm.get('addrassSt').errors &&
        (paymentForm.get('addrassSt').dirty) )
         || (!formIsInValid &&  paymentForm.get('addrassSt').errors )">
              <span style="color: red;" *ngIf="paymentForm.get('addrassSt').errors.required && paymentForm.get('addrassSt').touched
              || ( !formIsInValid  &&  paymentForm.get('addrassSt').errors && paymentForm.get('addrassSt').errors.required )">
               זהו שדה חובה
             </span>
              <span style="color: red;" *ngIf="paymentForm.get('addrassSt').errors.minlength && paymentForm.get('addrassSt').touched">
                רחוב חייב להיות בעל 2 תווים
              </span>
        </span>

            <input [ngStyle]="{ border: paymentForm.get('addrassSt').valid ? '2px solid #6dc22e' : '' }" type="text" id="adr"name="addrassSt" formControlName="addrassSt" [ngClass]="{'has-error':
            (paymentForm.get('addrassSt').errors &&
          (paymentForm.get('addrassSt').touched) )
        || ( !formIsInValid  &&  paymentForm.get('addrassSt').errors)}">

  <!---------------------------------------------------------------------------------------------------------------->

            <label for="city"><i class="fa fa-institution"></i> עיר <span style="color: red;"> * </span></label>

            <span  *ngIf="( paymentForm.get('addrassCity').errors &&
            (paymentForm.get('addrassCity').dirty) )
             || (!formIsInValid &&  paymentForm.get('addrassCity').errors )">
                 <span style="color: red;" *ngIf="paymentForm.get('addrassCity').errors.required && paymentForm.get('addrassCity').touched
                 || ( !formIsInValid  &&  paymentForm.get('addrassCity').errors && paymentForm.get('addrassCity').errors.required )">
                  זהו שדה חובה
                </span>
                 <span style="color: red;" *ngIf="paymentForm.get('addrassCity').errors.minlength && paymentForm.get('addrassCity').touched">
                    עיר חייב להיות בעלת 2 תווים
                 </span>
           </span>


            <input  [ngStyle]="{ border: paymentForm.get('addrassCity').valid ? '2px solid #6dc22e' : '' }" type="text" id="city" formControlName="addrassCity" name="addrassCity" [ngClass]="{'has-error':
            (paymentForm.get('addrassCity').errors &&
          (paymentForm.get('addrassCity').touched) )
        || ( !formIsInValid  &&  paymentForm.get('addrassCity').errors)}">

  <!----------------------------------------------------------------------------------------------------------------->


            <div class="row">
              <div class="col-50">
                <label for="zip">מיקוד <span style="color: red;"> * </span></label>

                <span *ngIf="( paymentForm.get('postNum').errors &&
                (paymentForm.get('postNum').dirty) )
                 || (!formIsInValid &&  paymentForm.get('postNum').errors )">
                  <span style="color: red;" *ngIf="paymentForm.get('postNum').errors.required  && paymentForm.get('postNum').touched
                  || ( !formIsInValid  &&  paymentForm.get('postNum').errors && paymentForm.get('postNum').errors.required )">
                   זהו שדה חובה
                 </span>
                  <span style="color: red;" *ngIf="paymentForm.get('postNum').errors.minlength  && paymentForm.get('postNum').touched">
                     מיקוד חייב להיות לפחות בעל 2 תווים
                  </span><br>
                  <span style="color: red;" *ngIf="paymentForm.get('postNum').errors.pattern  && paymentForm.get('postNum').touched">
                    מיקוד חייב להחיל מספרים בלבד
                 </span>  
            </span>
  
                <input [ngStyle]="{ border: paymentForm.get('postNum').valid ? '2px solid #6dc22e' : '' }" type="text" id="zip" name="מיקוד" formControlName="postNum" name="postNum" [ngClass]="{'has-error':
                (paymentForm.get('postNum').errors &&
              (paymentForm.get('postNum').touched) )
            || ( !formIsInValid  &&  paymentForm.get('postNum').errors)}">
    
          

              </div>
 <!----------------------------------------------------------------------------------------------------------------->

              <div class="col-50">
                <label for="phone">  <i class="fas fa-phone"></i> טלפון <span style="color: red;"> * </span> </label>
                <span *ngIf="( paymentForm.get('phone').errors &&
                (paymentForm.get('phone').dirty) )
                 || (!formIsInValid &&  paymentForm.get('phone').errors )">
                  <span style="color: red;" *ngIf="paymentForm.get('phone').errors.required  && paymentForm.get('phone').touched
                  ||(!formIsInValid  &&  paymentForm.get('phone').errors && paymentForm.get('phone').errors.required )">
                   זהו שדה חובה
                 </span>
                  <span style="color: red;" *ngIf="paymentForm.get('phone').errors.minlength  && paymentForm.get('phone').touched">
                     מספר טלפון חייב להיות לפחות בעל 9 תווים
                  </span><br>
                  <span style="color: red;" *ngIf="paymentForm.get('phone').errors.pattern  && paymentForm.get('phone').touched">
                    מספר טלפון חייב להחיל מספרים בלבד
                 </span>  
                </span>

                <input [ngStyle]="{ border: paymentForm.get('phone').valid ? '2px solid #6dc22e' : '' }" type="text" id="phone" name="phone" formControlName="phone" name="phone" [ngClass]="{'has-error':
                (paymentForm.get('phone').errors &&
              (paymentForm.get('phone').touched) )
            ||(!formIsInValid  &&  paymentForm.get('phone').errors)}">
    

               
 <!----------------------------------------------------------------------------------------------------------------->
            </div>
            
            </div>
          </div>
          

          <div class="col-50">
            <h3>תשלום</h3>
            <div class="icon-container">
        
              <div class="credit-cards-container">
                <div class="card-pic"><img class="card-icon" id="CardMastercard" alt="Mastercard" src="https://cashcow-cdn.azureedge.net/system/credit_cards/h50/mastercard.png"  
                     style="display: inline-block; "></div>

                <div class="card-pic"><img class="card-icon" id="CardAmericanExpress" alt="American Express" src="https://cashcow-cdn.azureedge.net/system/credit_cards/h50/american.png"
                    style="display: inline-block;"></div>
                
                <div class="card-pic"><img class="card-icon" id="CardVisa" alt="Visa" src="https://cashcow-cdn.azureedge.net/system/credit_cards/h50/visa.png"  
                  style="display: inline-block;"></div>
                
                <div class="card-pic"><img class="card-icon" id="CarCardPcidPaypal" alt="PCI" src="https://cashcow-cdn.azureedge.net/system/credit_cards/h50/pci.png" 
                    style="display: inline-block;"></div>
                
                <div class="card-pic"><img class="card-icon" id="CardSSl" alt="SSL secured" src="https://cashcow-cdn.azureedge.net/system/credit_cards/h50/ssl.png" 
                 style="display: inline-block;"></div>
                
              </div>
            </div>

 <!----------------------------------------------------------------------------------------------------------------->

            <label for="cname">שם בעל הכרטיס <span style="color: red;"> * </span></label>

            <span  *ngIf="( paymentForm.get('cardOwnerName').errors &&
            (paymentForm.get('cardOwnerName').dirty) )
             || (!formIsInValid &&  paymentForm.get('cardOwnerName').errors )">
              <span style="color: red;" *ngIf="paymentForm.get('cardOwnerName').errors.required  && paymentForm.get('cardOwnerName').touched
              || ( !formIsInValid  &&  paymentForm.get('cardOwnerName').errors && paymentForm.get('cardOwnerName').errors.required ) ">
               זהו שדה חובה
             </span>
              <span style="color: red;" *ngIf="paymentForm.get('cardOwnerName').errors.minlength  && paymentForm.get('cardOwnerName').touched">
                שם בעל הכרטיס חייב להיות בעלת 2 תווים
              </span>
        </span>

            <input [ngStyle]="{ border: paymentForm.get('cardOwnerName').valid ? '2px solid #6dc22e' : '' }" 
            type="text" id="cname" name="cardname" formControlName="cardOwnerName" [ngClass]="{'has-error':
            (paymentForm.get('cardOwnerName').errors &&
          (paymentForm.get('cardOwnerName').touched) )
        || ( !formIsInValid  &&  paymentForm.get('cardOwnerName').errors)}">

 <!----------------------------------------------------------------------------------------------------------------->

            <label for="ccnum">מספר הכרטיס <span style="color: red;"> * </span></label>

            <span  *ngIf="( paymentForm.get('cardNumber').errors &&
            (paymentForm.get('cardNumber').dirty) )
             || (!formIsInValid &&  paymentForm.get('cardNumber').errors )">
              <span style="color: red;" *ngIf="paymentForm.get('cardNumber').errors.required && paymentForm.get('cardNumber').touched
              || ( !formIsInValid  &&  paymentForm.get('cardNumber').errors && paymentForm.get('cardNumber').errors.required )">
               זהו שדה חובה
             </span>
           
              <span style="color: red;" *ngIf="paymentForm.get('cardNumber').errors.pattern && paymentForm.get('cardNumber').touched">
                מספר הכרטיס חייב להחיל מספרים בלבד
             </span>  
            </span>

            <input [ngStyle]="{ border: paymentForm.get('cardNumber').valid ? '2px solid #6dc22e' : '' }" style="direction: ltr;" maxlength="20"  formControlName="cardNumber" type="tel" #ccNumber (keyup)="cardNumberSpacing()" 
            [ngClass]="{'has-error':
            (paymentForm.get('cardNumber').errors &&
          (paymentForm.get('cardNumber').touched) )
        || ( !formIsInValid  &&  paymentForm.get('cardNumber').errors)}">
            

 <!----------------------------------------------------------------------------------------------------------------->

            <h4 for="expmonth">תוקף כרטיס </h4>
            <span>חודש</span><span style="color: red;"> * </span><br>

            <span   *ngIf="( paymentForm.get('cardValidityMonth').errors &&
            (paymentForm.get('cardValidityMonth').dirty) )
             || (!formIsInValid &&  paymentForm.get('cardValidityMonth').errors )">
              <span style="color: red;" *ngIf="paymentForm.get('cardValidityMonth').errors.required && paymentForm.get('cardValidityMonth').touched
              || ( !formIsInValid  &&  paymentForm.get('cardValidityMonth').errors && paymentForm.get('cardValidityMonth').errors.required )">
               זהו שדה חובה
             </span>
            </span>

            <select [ngStyle]="{ border: paymentForm.get('cardValidityMonth').valid ? '2px solid #6dc22e' : '' }"
             formControlName="cardValidityMonth" name="cardValidityMonth"  [ngClass]="{'has-error':
            (paymentForm.get('cardValidityMonth').errors &&
          (paymentForm.get('cardValidityMonth').touched) )
        || ( !formIsInValid  &&  paymentForm.get('cardValidityMonth').errors)}">
            

               <option  value=""disabled >  בחר חודש  </option>
              <option  *ngFor="let month of monthList">{{month}}</option>
          </select>

    

  
 <!----------------------------------------------------------------------------------------------------------------->
      <div class="row">
        <div class="col-50">
        <span for="expyear"> שנה</span><span style="color: red;"> * </span><br>

        <span   *ngIf="( paymentForm.get('cardValidityYear').errors &&
        (paymentForm.get('cardValidityYear').dirty) )
         || (!formIsInValid &&  paymentForm.get('cardValidityYear').errors )">
          <span style="color: red;" *ngIf="paymentForm.get('cardValidityYear').errors.required  && paymentForm.get('cardValidityYear').touched
          || ( !formIsInValid  &&  paymentForm.get('cardValidityYear').errors && paymentForm.get('cardValidityYear').errors.required )">
           זהו שדה חובה
         </span>
        </span>

        <select [ngStyle]="{ border: paymentForm.get('cardValidityYear').valid ? '2px solid #6dc22e' : '' }"
         class=""  formControlName="cardValidityYear" name="cardValidityYear" [ngClass]="{'has-error':
        (paymentForm.get('cardValidityYear').errors &&
      (paymentForm.get('cardValidityYear').touched) )
    || ( !formIsInValid  &&  paymentForm.get('cardValidityYear').errors)}">

        <option value="" disabled >  בחר שנה  </option>
        <option [ngValue]="year" *ngFor="let year of yearList" > {{year}}</option>
        </select>

      

 <!----------------------------------------------------------------------------------------------------------------->

              </div>
              <div class="col-50">


                <label for="cvv">CVV <span style="color: red;"> * </span></label>

                <span *ngIf="( paymentForm.get('cvv').errors &&
                (paymentForm.get('cvv').dirty) )
                 || (!formIsInValid &&  paymentForm.get('cvv').errors )">
                  <span style="color: red;" *ngIf="paymentForm.get('cvv').errors.required  && paymentForm.get('cvv').touched
                  || ( !formIsInValid  &&  paymentForm.get('cvv').errors && paymentForm.get('cvv').errors.required )">
                   זהו שדה חובה
                 </span>
                  <span style="color: red;" *ngIf="paymentForm.get('cvv').errors.minlength  && paymentForm.get('cvv').touched">
                      קוד CVV חייב להיות לפחות בעל 3 תווים
                  </span><br>
                  <span style="color: red;" *ngIf="paymentForm.get('cvv').errors.pattern && paymentForm.get('cvv').touched">
                    קוד CVV חייב להחיל מספרים בלבד
                 </span>  
                </span>
                
                <input [ngStyle]="{ border: paymentForm.get('cvv').valid ? '2px solid #6dc22e' : '' }"
                type="text" id="cvv" name="cvv" formControlName="cvv" name="cvv" [ngClass]="{'has-error':
                (paymentForm.get('cvv').errors &&
              (paymentForm.get('cvv').touched) )
            || ( !formIsInValid  &&  paymentForm.get('cvv').errors)}">

            


 <!----------------------------------------------------------------------------------------------------------------->

              </div>
            </div>

            <div class="col-50">

 <!----------------------------------------------------------------------------------------------------------------->

              <label for="expyear">ת.ז בעל הכרטיס <span style="color: red;"> * </span></label>

              <span *ngIf="( paymentForm.get('id').errors &&
              (paymentForm.get('id').dirty) )
               || (!formIsInValid &&  paymentForm.get('id').errors )">
                <span style="color: red;" *ngIf="paymentForm.get('id').errors.required  && paymentForm.get('id').touched
                || ( !formIsInValid  &&  paymentForm.get('id').errors && paymentForm.get('id').errors.required )">
                 זהו שדה חובה
               </span>
                <span style="color: red;" *ngIf="paymentForm.get('id').errors.minlength && paymentForm.get('id').touched">
                    תעודת זהות חייבת להיות בעלת 9 ספרות
                </span><br>
                <span style="color: red;" *ngIf="paymentForm.get('id').errors.pattern && paymentForm.get('id').touched">
                  תעודת זהות חייבת להחיל מספרים בלבד
               </span>  
              </span>

              <input [ngStyle]="{ border: paymentForm.get('id').valid ? '2px solid #6dc22e' : '' }"
               type="text" id="expyear" name="expyear" formControlName="id" name="id"[ngClass]="{'has-error':
              (paymentForm.get('id').errors &&
            (paymentForm.get('id').touched) )
          || ( !formIsInValid  &&  paymentForm.get('id').errors)}">

           


 <!----------------------------------------------------------------------------------------------------------------->

            </div>
          </div>
        </div>
       
        <input (click)="onSubmit()" type="submit" value="לתשלום מאובטח" class="btn">

        
      </form>
    </div>
  </div>

</div>
</div>


<!-- ------------------------------------------------------------------------------------------------------ -->

<div style="width: 35%; margin-left: 10%; margin-right: 10%;margin-top: 3%; margin-bottom: 3%; direction: rtl;">
  <div class="row" >
    <div class="col-75" >
      <div class="container"
       >

        <h2 > פרטי ההזמנה  </h2>
        <table >
          <tr>
            <th>מוצר</th>
            <th>סכום ביניים</th>
          </tr>
          <tr *ngFor="let item of buyingBagPerUser" >
            <td >
              <p>{{item.imgdata.imgDes }}</p>
              <p>{{item.printType }}</p>
              <p>{{item.printSize }}</p>
              <img style="width: 60px; height: 40px;" src={{item.imgdata.imgUrl}} alt="" />
             </td>

            <td >{{item.imgdata.price | currency:'ILS'}}</td>
          </tr>
        
          <td>סח"ה</td>
        
          <ng-container >
            <td>{{totalPrice  | currency:'ILS'}} </td> 
         </ng-container>
        </table>

        <div *ngIf="alertBox" class="alert-box">
          <br>
          <img style=" display:block; margin:auto;" src="../../../assets/pp-logo.jpeg" width="75px" height="75px;" alt="">
        
          <h1>{{ message }}</h1>
          <div class="alert-box-actions">
            <mat-progress-bar mode="query" style="width: 50vh; margin-left: 10%; margin-right: 10%;"></mat-progress-bar>
            <br>
            <img style="margin-right: 35%; margin-left: 30%;" *ngIf="paymentMode" src="../../../assets/visa.jpg" height="70px;" width="130px;" alt="">


          </div>
      </div>



    </div>
  </div>
 </div>
</div>

