@media screen and (max-width: 4000px) and (min-width: 901px) {
    .left-add {
        margin-top: 5%;
    }
    .right-add {
        margin-right: 5%;
        margin-top: 5%;
    }
    h1 {
        text-align: center;
        font-size: 4vh;
        font-family: 'Brush Script MT', cursive;
    }
    h3 {
        text-align: center !important;
    }
    .main-pic-sub-card {
        max-width: 350px;
        height: 254px;
        width: 270px;
        margin: 20px;
        border-radius: 2px;
        background-color: white;
        box-shadow: 3px 3px 3px rgb(202, 196, 196);
    }
    .sub-img {
        height: 180px;
        width: 270px;
    }
    div {
        /* background-color: aqua */
    }
}

@media screen and (max-width: 900px) {
    h1 {
        text-align: center;
        font-size: 4vh;
        font-family: 'Brush Script MT', cursive;
    }
    h3 {
        text-align: center !important;
    }
    .main-pic-sub-card {
        max-width: 350px;
        height: 254px;
        width: 270px;
        margin: 20px;
        border-radius: 2px;
        box-shadow: 3px 3px 3px rgb(202, 196, 196);
    }
    .sub-img {
        height: 180px;
        width: 270px;
    }
    div {
        /* background-color: aqua */
    }
    .left-add {
        display: none;
    }
    .right-add {
        display: none;
    }
}