h1{
    text-align: center;
}
h3{
    text-align: center !important;
}

.main-pic-sub-card {
    max-width: 200px;
    height: 154px;
    width: 170px;
    margin: 25px;
    border-radius: 2px;
  }
  img{
      height: 130px;
      width: 202px;
  }
 

div {
    /* background-color: aqua */
}
  

