.container {
    display: flex;
}

.left-side {
    width: 40%;
}

.right-side {
    width: 60%;
}

.profile-card {
    background-color: azure;
    width: 70%;
    margin-left: 15%;
    box-shadow: 3px 5px 6px 5px rgba(0, 0, 0, 0.10);
    border-radius: 10px;
}

#profile-img {
    border-radius: 50%;
    width: 30%;
    height: 30%;
    display: block;
    margin: auto;
}

figure, figcaption {
    margin: 0;
    padding: 0;
}

figure {
    display: inline-block;
    position: relative;
}

figure img {
    display: block;
    box-shadow: 6px 6px 6px #888;
}

figure figcaption {
    position: absolute;
    left: 59%;
    top: 94%;
    transform: translate(-50%, -50%);
    /* background-color: rgba(31, 30, 30, 0.5); */
    color: #fff;
    padding: 1vh;
    border-radius: 5px;
}

h1 {
    text-align: center;
    color: brown;
    margin: 0px 0px 0px; 

}

h2 {
    text-align: center;
    color: rgb(23, 187, 86);
}

h3{
    text-align: center;
    color: rgb(187, 23, 105); 
}
.h3-container{
width: 60%;
margin-left: 20%;
}

.fa.fa-instagram {
    color: transparent;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background-clip: text;
    -webkit-background-clip: text;
    font-size:48px;
  }
  
.profile-links{
    display: flex;
    width: 70%;
    margin-left: 15%;
    justify-content: space-between;
}

.alert-box {
    position: fixed;
    top: 30vh;
    left: 30vw;
    width: 60vw;
    padding: 16px;
    z-index: 100;
    background: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    color: #232d54;;
    text-align: center;
    border: 2px solid #232d54;;
    border-radius: 25px;
  }

  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 5%;
  }
  
  td,
  th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    text-align: center;
  }
  td {
    cursor: pointer;
  }
  .td-form {
    height: 120px;
  }
  
  tr:nth-child(even) {
    background-color: #fcf8f8;
  }
  .delete-btn {
    margin: 5px;
    padding: 5px;
    background-color: #f44336;
    border-radius: 10px;
    color: #dddddd;
    width: 80%;
    cursor: pointer;
  }
  
  .edit-btn {
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
    background-color: #4caf50;
    color: #dddddd;
    width: 80%;
    cursor: pointer;
  }



