<div class="container">

    <div class="grid-7 element-animation">
        <div class="card color-card-2">
            <ul>
                <li><i class="fas fa-arrow-left i-l b"></i></li>
                <li><i class="fas fa-ellipsis-v i-r b"></i></li>
                <li><i class="far fa-heart i-r b"></i></li>
            </ul>
            <div class="img-warpper">
                <span class="material-icons">
                    add_a_photo
                    </span>

                <img src="https://images.unsplash.com/photo-1499557354967-2b2d8910bcca?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=7d5363c18112a02ce22d0c46f8570147&auto=format&fit=crop&w=635&q=80%20635w"
                    alt="profile-pic" class="profile">
                    
            </div>
            <h1 class="title-2">שמ משתמש </h1>
            <p class="job-title"> מקצוע\צלם  </p>
            <div class="desc top">
                <p> תאור עצמי במשפט...@</p>
            </div>
            <div class="btn-warpper">

                <button class="btn color-a top"> Hire me</button>
            </div>

            <hr class="hr-2">
            <div class="container">
                <div class="content">
                    <div class="grid-2">
                        <button class="color-b circule"> <i class="fab fa-dribbble fa-2x"></i></button>
                        <h2 class="title-2">12.3k</h2>
                        <p class="followers">Followers</p>
                    </div>
                    <div class="grid-2">
                        <button class="color-c circule"><i class="fab fa-behance fa-2x"></i></button>
                        <h2 class="title-2">16k</h2>
                        <p class="followers">Followers</p>
                    </div>
                    <div class="grid-2">
                        <button class="color-d circule"><i class="fab fa-github-alt fa-2x"></i></button>
                        <h2 class="title-2">17.8k</h2>
                        <p class="followers">Followers</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400" rel="stylesheet"> -->