.mat-toolbar.mat-primary {
    background: #232d54;
    color: #fff;
}
.seconeLineMenu{
    justify-content: space-between;
    cursor: pointer;
}
.firstLine{
    cursor: pointer;  
    display: flex;
}
::ng-deep .mat-menu-content{
    background-color:floralwhite
  }

  ::ng-deep .mat-menu-item{
      color: #404e88;
  }

  button.mat-menu-item:hover {
    color: red !important;
}

.mat-dialog-container{
    background: #fff !important;
}
.footer{
    position:relative;
    color: #fff;
    bottom: 0;
    width: 100%;
    flex-shrink: 0;
    height: 40%;
    background-color: #232d54;
    direction: rtl;
}
.hedder{
    position:relative;
    color: #fff;
    bottom: 0;
    width: 100%;
    flex-shrink: 0;
    height: 15%;
    direction: rtl;
    background-color: #232d54
}

.firstLineHedder{
    height: 50%;
}
.secondeLineHedder{
    height: 50%;
}