.container {
  display: flex;
  direction: rtl;
  font-family: Montserrat-Regular, sans-serif;

}

.right-side {
  width: 40%;
  margin-top: 5%;
 
}

.left-side {
  width: 60%;
  margin-top: 5%;
}

img {
  display: block;
  margin: auto;
  box-shadow: 6px 6px 6px #888;
}

.ul-list {
  padding: 4%;
  font-size: larger;
}

li {
  padding: 0.8vh;
  font-family: Montserrat-Regular, sans-serif;

}

.titles {
  padding: 3%;
  font-size: x-large;
}

.main-page {
  padding: 4%;
  font-size: medium;
}

ul li:before {
  content: "";
  position: absolute;
  border-right: 2px solid greenyellow;
  border-bottom: 2px solid greenyellow;
  width: 10px;
  height: 10px;
  top: calc(50% - 0px);
  left: -20px;
  transform: translateY(-50%) rotate(-45deg);
  font-family: Montserrat-Regular, sans-serif;

}

#arrow {
  border-right: 2px solid greenyellow;
  border-bottom: 2px solid greenyellow;
  width: 10px;
  height: 10px;
  transform: rotate(-45deg);
  margin-top: 40px;
}

ul li {
  position: relative;
  padding-bottom: 10px;
  font-family: Montserrat-Regular, sans-serif;

}

ul {
  list-style: none;
  font-family: Montserrat-Regular, sans-serif;

}

ul li:before {
  content: "";
  position: absolute;
  border-right: 2px solid greenyellow;
  border-bottom: 2px solid greenyellow;
  width: 10px;
  height: 10px;
  top: calc(50% - 0px);
  left: 101%;
  transform: translateY(-50%) rotate(135deg);
  font-family: Montserrat-Regular, sans-serif;

}

p {
  font-family: Montserrat-Regular, sans-serif;
}

