

<div class="container">
    <div class="right-side">
        <img src={{img}} width="460vh;" height="700vh;"
            alt="">



    </div>
    <div class="left-side">
        <div class="titles">

            <p>מרגישים צורך להכניס קצת צבעים חדשים הביתה? שינוי מדליק ומרענן אשר
                יעורר חיים בביתכם?</p><br>
            <p>אצלנו ב PicPicture , ניתן למצוא מגוון תמונות איכותיות, ברמה אחרת שאין
                לה מתחרים.</p><br>
            <p>אז מה יש לנו להציע לכם?</p>
        </div>
        
        <div class="ul-list">
            <ul>
                <li>הדפסת תמונות על בד קנבס</li>
                <li>תמונות שמן עם מבחר מסגרות מפוארות</li>
                <li>ציורי אקריל באינספור צבעים וגוונים</li>
                <li>מגוון רב של מסגרות איכותיות מודרניות או קלאסיות</li>
                <li>הזמנות אישיות לתמונות על פי בחירתכם</li>
                <li>שימוש בחומרים הטובים ביותר וציוד טכנולוגי מתקדם וחדשני.</li>
                <li>ההדפסה מתבצעת על בד קנבס איכותי.</li>
                <li>שימוש בצבעים עם מרחב צבע גדול (עושר של צבעים) ועמידות לאורך זמן.</li>
            </ul>
        </div>

        <div class="main-page">

            <h2><strong>מי אנחנו? </strong></h2>
            <p>תמונות דאלי הינו עסק משפחתי&nbsp; אשר מתמחה בעיצוב, תכנון, הדפסה,
                ומסגור לתמונות בשלל גדלים, גוונים וסוגים.</p>
            <p>מפעלנו, אשר משתדרג עם הקדמה הטכנולוגית, מציע ללקוחותיו תמונות ברמה
                גבוהה ובינלאומית, אשר מתאפיינות בחדות, צבעוניות, ואיכות ללא פשרות.
            </p>
            <p>חברתנו ידועה באיכותה בשוק הישראלי, כבר למעלה מ-30 שנים, עם שיטות
                ייצור חדשניות, וצוות מיומן ומקצועי אשר אמון על איכות מוצרינו.</p>
            <p>בין לקוחותינו הרבים, חברות עסקיות פרטיות המשדרגות את בתי העסק שלהם,
                בתי מלון ברחבי הארץ, לקוחות פרטים המבקרים בסניפינו, וכן מכירה
                בסיטונאות ישירות מהמפעל לצרכן במחירים אטרקטיביים והוגנים.</p>
            <p>תמונות דאלי תשמח לעמוד לשירותכם, להעניק לכם את השירות המקצועי הטוב
                ביותר, ולייעץ לכם בכל שאלה, פנייה, ועצות בכדי להקל עליכם לעצב את
                התמונה המתאימה עבורכם.</p>

        </div>

    </div>

</div>