<!-- <div class="main-page-wrapper">
    <div class="container">
        <div class="row">
            <div class="site-content col-sm-12" role="main">
                <article id="post-798" class="post-798 page type-page status-publish hentry">
                    <div class="entry-content">
                        <div class="vc_row wpb_row vc_row-fluid">
                            <div class="wpb_column vc_column_container vc_col-sm-8">
                                <div class="vc_column-inner">
                                    <div class="wpb_wrapper">
                                        <div class="wpb_text_column wpb_content_element">
                                            <div class="wpb_wrapper">
                                                <p>מרגישים צורך להכניס קצת צבעים חדשים הביתה? שינוי מדליק ומרענן אשר
                                                    יעורר חיים בביתכם?</p>
                                                <p>אצלנו בתמונות דאלי, ניתן למצוא מגוון תמונות איכותיות, ברמה אחרת שאין
                                                    לה מתחרים.</p>
                                                <p>אז מה יש לנו להציע לכם?</p>
                                                <ul>
                                                    <li>הדפסת תמונות על בד קנבס</li>
                                                    <li>תמונות שמן עם מבחר מסגרות מפוארות</li>
                                                    <li>ציורי אקריל באינספור צבעים וגוונים</li>
                                                    <li>מגוון רב של מסגרות איכותיות מודרניות או קלאסיות</li>
                                                    <li>הזמנות אישיות לתמונות על פי בחירתכם</li>
                                                    <li>שימוש בחומרים הטובים ביותר וציוד טכנולוגי מתקדם וחדשני.</li>
                                                    <li>ההדפסה מתבצעת על בד קנבס איכותי.</li>
                                                    <li>שימוש בצבעים עם מרחב צבע גדול (עושר של צבעים) ועמידות לאורך זמן.
                                                    </li>
                                                </ul>
                                                <p><strong>מי אנחנו? </strong></p>
                                                <p>תמונות דאלי הינו עסק משפחתי&nbsp; אשר מתמחה בעיצוב, תכנון, הדפסה,
                                                    ומסגור לתמונות בשלל גדלים, גוונים וסוגים.</p>
                                                <p>מפעלנו, אשר משתדרג עם הקדמה הטכנולוגית, מציע ללקוחותיו תמונות ברמה
                                                    גבוהה ובינלאומית, אשר מתאפיינות בחדות, צבעוניות, ואיכות ללא פשרות.
                                                </p>
                                                <p>חברתנו ידועה באיכותה בשוק הישראלי, כבר למעלה מ-30 שנים, עם שיטות
                                                    ייצור חדשניות, וצוות מיומן ומקצועי אשר אמון על איכות מוצרינו.</p>
                                                <p>בין לקוחותינו הרבים, חברות עסקיות פרטיות המשדרגות את בתי העסק שלהם,
                                                    בתי מלון ברחבי הארץ, לקוחות פרטים המבקרים בסניפינו, וכן מכירה
                                                    בסיטונאות ישירות מהמפעל לצרכן במחירים אטרקטיביים והוגנים.</p>
                                                <p>תמונות דאלי תשמח לעמוד לשירותכם, להעניק לכם את השירות המקצועי הטוב
                                                    ביותר, ולייעץ לכם בכל שאלה, פנייה, ועצות בכדי להקל עליכם לעצב את
                                                    התמונה המתאימה עבורכם.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="wpb_column vc_column_container vc_col-sm-4">
                                <div class="vc_column-inner">
                                    <div class="wpb_wrapper">
                                        <div class="wpb_single_image wpb_content_element vc_align_left">
                                            <figure class="wpb_wrapper vc_figure">
                                                <div class="vc_single_image-wrapper   vc_box_border_grey"><img
                                                        width="535" height="903"
                                                        src="https://dalicanvas.co.il/wp-content/uploads/2017/09/WhatsApp-Image-2018-03-11-at-11.49.08.jpeg"
                                                        data-lazy-type="image"
                                                        data-src="https://dalicanvas.co.il/wp-content/uploads/2017/09/WhatsApp-Image-2018-03-11-at-11.49.08.jpeg"
                                                        class="vc_single_image-img attachment-full lazy-loaded" alt=""
                                                        srcset="https://dalicanvas.co.il/wp-content/uploads/2017/09/WhatsApp-Image-2018-03-11-at-11.49.08.jpeg 535w, https://dalicanvas.co.il/wp-content/uploads/2017/09/WhatsApp-Image-2018-03-11-at-11.49.08-178x300.jpeg 178w, https://dalicanvas.co.il/wp-content/uploads/2017/09/WhatsApp-Image-2018-03-11-at-11.49.08-166x280.jpeg 166w, https://dalicanvas.co.il/wp-content/uploads/2017/09/WhatsApp-Image-2018-03-11-at-11.49.08-474x800.jpeg 474w"
                                                        data-srcset=""
                                                        sizes="(max-width: 535px) 100vw, 535px"><noscript><img width=535
                                                            height=903
                                                            src=https://dalicanvas.co.il/wp-content/uploads/2017/09/WhatsApp-Image-2018-03-11-at-11.49.08.jpeg
                                                            class="vc_single_image-img attachment-full" alt
                                                            srcset="https://dalicanvas.co.il/wp-content/uploads/2017/09/WhatsApp-Image-2018-03-11-at-11.49.08.jpeg 535w, https://dalicanvas.co.il/wp-content/uploads/2017/09/WhatsApp-Image-2018-03-11-at-11.49.08-178x300.jpeg 178w, https://dalicanvas.co.il/wp-content/uploads/2017/09/WhatsApp-Image-2018-03-11-at-11.49.08-166x280.jpeg 166w, https://dalicanvas.co.il/wp-content/uploads/2017/09/WhatsApp-Image-2018-03-11-at-11.49.08-474x800.jpeg 474w"
                                                            sizes="(max-width: 535px) 100vw, 535px"></noscript></div>
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div> -->

<div class="container">
    <div class="right-side">
        <img src="https://www.photo-art.co.il/wp-content/uploads/2017/09/Springtime-Dishon-2.jpg" width="460vh;" height="700vh;"
            alt="">

    </div>
    <div class="left-side">
        <div class="titles">

            <p>מרגישים צורך להכניס קצת צבעים חדשים הביתה? שינוי מדליק ומרענן אשר
                יעורר חיים בביתכם?</p><br>
            <p>אצלנו בתמונות דאלי, ניתן למצוא מגוון תמונות איכותיות, ברמה אחרת שאין
                לה מתחרים.</p><br>
            <p>אז מה יש לנו להציע לכם?</p>
        </div>
        
        <div class="ul-list">
            <ul>
                <li>הדפסת תמונות על בד קנבס</li>
                <li>תמונות שמן עם מבחר מסגרות מפוארות</li>
                <li>ציורי אקריל באינספור צבעים וגוונים</li>
                <li>מגוון רב של מסגרות איכותיות מודרניות או קלאסיות</li>
                <li>הזמנות אישיות לתמונות על פי בחירתכם</li>
                <li>שימוש בחומרים הטובים ביותר וציוד טכנולוגי מתקדם וחדשני.</li>
                <li>ההדפסה מתבצעת על בד קנבס איכותי.</li>
                <li>שימוש בצבעים עם מרחב צבע גדול (עושר של צבעים) ועמידות לאורך זמן.</li>
            </ul>
        </div>

        <div class="main-page">

            <h2><strong>מי אנחנו? </strong></h2>
            <p>תמונות דאלי הינו עסק משפחתי&nbsp; אשר מתמחה בעיצוב, תכנון, הדפסה,
                ומסגור לתמונות בשלל גדלים, גוונים וסוגים.</p>
            <p>מפעלנו, אשר משתדרג עם הקדמה הטכנולוגית, מציע ללקוחותיו תמונות ברמה
                גבוהה ובינלאומית, אשר מתאפיינות בחדות, צבעוניות, ואיכות ללא פשרות.
            </p>
            <p>חברתנו ידועה באיכותה בשוק הישראלי, כבר למעלה מ-30 שנים, עם שיטות
                ייצור חדשניות, וצוות מיומן ומקצועי אשר אמון על איכות מוצרינו.</p>
            <p>בין לקוחותינו הרבים, חברות עסקיות פרטיות המשדרגות את בתי העסק שלהם,
                בתי מלון ברחבי הארץ, לקוחות פרטים המבקרים בסניפינו, וכן מכירה
                בסיטונאות ישירות מהמפעל לצרכן במחירים אטרקטיביים והוגנים.</p>
            <p>תמונות דאלי תשמח לעמוד לשירותכם, להעניק לכם את השירות המקצועי הטוב
                ביותר, ולייעץ לכם בכל שאלה, פנייה, ועצות בכדי להקל עליכם לעצב את
                התמונה המתאימה עבורכם.</p>

        </div>

    </div>

</div>