/* .main-page-wrapper {
    padding-top: 40px;
    margin-top: -40px;
    background: #fff;
} */

.container {
    display: flex;
    direction: rtl;
}

.right-side {
    width: 40%;
    margin-top: 5%;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

.left-side {
    width: 60%;
    margin-top: 5%;
}

img {
    display: block;
    margin: auto;
}

.ul-list {
    padding: 4%;
    font-size: larger;
}

li {
    padding: 0.8vh;
}

.titles {
    padding: 3%;
    font-size: x-large;
}

.main-page {
    padding: 4%;
    font-size: medium;
}

ul li:before{
    content: '';
    position: absolute;
    border-right:2px solid greenyellow;
    border-bottom:2px solid greenyellow;
    width:10px;
    height:10px;
    top: calc(50% - 0px);
    left: -20px;
    transform: translateY(-50%) rotate(-45deg);
 }

 #arrow {
    border-right:2px solid greenyellow;
    border-bottom:2px solid greenyellow;
    width:10px;
    height:10px;
    transform: rotate(-45deg);
    margin-top:40px;
}



ul li {
  position: relative;
	padding-bottom: 10px;
}

ul {
  list-style: none;
}

ul li:before{
   content: '';
   position: absolute;
   border-right:2px solid greenyellow;
   border-bottom:2px solid greenyellow;
   width:10px;
   height:10px;
   top: calc(50% - 0px);
   left: 101%;
   transform: translateY(-50%) rotate(135deg);
}