<div class="container">

    <h2 id="title">מנהל יקר ברוך הבא בעמוד זה תוכל לנהל את כל תכני האתר</h2>
    <h3>בחר תמונות לפי נושא</h3>

    <div class="pic-subject-container">

        <select (change)="selectSubject($event)" name="pic-subject" class="pic-subject-selcet">
            <option *ngFor="let img of subjectList" value={{img.id}}>{{img.value}}</option>
        </select>

        <!-- <p><span> נושא נבחר  </span><b>{{selectedIdSubject}}</b></p> -->

    </div>
    <table>
        <tr>

            <th>תאור הנושא</th>
            <th>תאור התמונה</th>
            <th>כתובת URL התמונה</th>
            <th> צלם </th>
            <th> מחיר </th>
            <th>מחיקה/עריכה</th>
        </tr>
        <tr *ngFor="let img of imgasListFromServer">
            <td>{{img.imgDes}}</td>
            <td>{{img.imgLongDes}}</td>
            <td>{{img.imgUrl}}<br>
                <img src={{img.imgUrl}} width="60px;" height="40px;" alt="">

            </td>
            <td>{{img.photographer}}</td>
            <td>{{img.price}}</td>
            <td>
                <button (click)="delete(img.id)" class="delete-btn">מחיקה</button>
                <button (click)="edit(img.id)" class="edit-btn"> עריכה</button>
            </td>

        </tr>
    </table>

    <div *ngIf="alertBox" class="alert-box">
        <h2>{{massage}}</h2>
        <form *ngIf="editMode" action="">
            <table>
                <tr>

                    <th>תאור הנושא</th>
                    <th>תאור התמונה</th>
                    <th>כתובת URL התמונה</th>
                    <th> צלם </th>
                    <th> מחיר </th>
                    <th> </th>
                </tr>
                <tr>
                    <td class="td-form"><input type="text" value={{imgSelected.imgDes}}></td>
                    <td class="td-form"><input type="text" value={{imgSelected.imgLongDes}}></td>
                    <td>
                        <img src={{imgSelected.imgUrl}} width="60px;" height="40px;" alt="">
                        <br>
                        <input id="inp-img" type="text" value={{imgSelected.imgUrl}}>
                    </td>
                    <td class="td-form"><input type="text" value={{imgSelected.photographer}}>
                    <td class="td-form"><input type="text" value={{imgSelected.price}}>
                    <td class="td-form"><button (click)="edit()" class="edit-btn"> שמירת שינויים</button> </td>

                </tr>
            </table>

        </form>
        <div class="alert-box-actions">
            <button class="closeBtnOrbuy" (click)="onClose()">סגור</button>
        </div>
    </div>
</div>