<div class="container">

    <h1 id="title">מנהל יקר ברוך הבא בעמוד זה תוכל לנהל את כל תכני האתר</h1>
    <h3>בחר תמונות לפי נושא</h3>

    <div class="pic-subject-container">
        <div class="box">

            <select (change)="selectSubject($event)" name="pic-subject" class="pic-subject-selcet">
                <option *ngFor="let img of subjectList" value={{img.id}}>{{img.value}}</option>
            </select>
        </div>
        <!-- <p><span> נושא נבחר  </span><b>{{selectedIdSubject}}</b></p> -->
    </div>
    <div class="add-img-btn-div">
        <button (click)="addOption()" class="add-img-btn"> הוספת תמונה בקטגורית {{categorySelected}}</button>
    </div>
    <table>
        <tr>

            <th>תאור הנושא</th>
            <th>תאור התמונה</th>
            <th>כתובת URL התמונה</th>
            <th> צלם </th>
            <th> מחיר </th>
            <th>מחיקה/עריכה</th>
        </tr>
        <tr *ngFor="let img of imgasListFromServer">
            <td>{{img.imgDes}}</td>
            <td>{{img.imgLongDes}}</td>
            <td>{{img.imgUrl}}<br>
                <img src={{img.imgUrl}} width="60px;" height="40px;" alt="">

            </td>
            <td>{{img.photographer}}</td>
            <td>{{img.price}}</td>
            <td>
                <button (click)="deleteOption(img.id)" class="delete-btn">מחיקה</button>
                <button (click)="editOption(img.id)" class="edit-btn"> עריכה</button>
            </td>

        </tr>
    </table>

    <div *ngIf="alertBox"
        [ngClass]="{'alert-box-actions-delete': deleteMode, 'alert-box-actions-edit': editMode, 'alert-box-actions-add': addMode }">
        <h2>{{massage}}</h2>
        <form [formGroup]="editImgForm" *ngIf="editMode|| addMode" action="">

            <table>
                <tr>
                    <th>תאור הנושא</th>
                    <th>תאור התמונה</th>
                    <th>כתובת URL התמונה</th>
                    <th> צלם </th>
                    <th> מחיר </th>
                </tr>
                <tr>
                    <td class="td-form"><input type="text" formControlName="imgDes"></td>
                    <td class="td-form"><input type="text" formControlName="imgLongDes"></td>
                    <td>
                        <img src={{imgUrl}} width="60px;" height="40px;" alt="">
                        <br>
                        <input id="inp-img" type="text" formControlName="imgUrl" [value]="imgUrl"
                            (input)="imgUrl = $event.target.value">
                    </td>
                    <td class="td-form"><input type="text" formControlName="photographer">
                    <td class="td-form"><input type="text" formControlName="price">


                </tr>
            </table>

        </form>
        <div class="alert-box-actions">
            <br>
            <div class="btns-container">
                <div>
                    <button class="delete-confirm-btn" (click)="onClose()">{{deleteOrEditBtnName}}</button>
                </div>
                <div>
                    <button class="closeBtnOrbuy" (click)="onCloseBox()">סגור</button>
                </div>
            </div>
        </div>
    </div>
</div>