.container {
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
}
#title {
  text-align: center;
  margin-top: 4%;
  margin-bottom: 3%;
}
h3 {
  right: 10%;
  position: absolute;
  direction: rtl;
  bottom: 66%;
}

.pic-subject-container {
  right: 10%;
  position: absolute;
  bottom: 65%;
}

.pic-subject-selcet {
  direction: rtl;
  width: 120px;
  height: 25px;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-top: 5%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  text-align: center;
}
td {
  cursor: pointer;
}
.td-form {
  height: 120px;
}

tr:nth-child(even) {
  background-color: #fcf8f8;
}
.delete-btn {
  margin: 5px;
  padding: 5px;
  background-color: #f44336;
  border-radius: 10px;
  color: #dddddd;
  width: 80%;
  cursor: pointer;
}

.edit-btn {
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
  background-color: #4caf50;
  color: #dddddd;
  width: 80%;
  cursor: pointer;
}
#inp-img {
  margin-bottom: 23%;
}

/* //-------------------------------- */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.75);
  z-index: 50;
}

.alert-box-actions-delete {
  position: fixed;
  top: 45vh;
  left: 30vw;
  width: 35vw;
  padding: 16px;
  z-index: 100;
  background: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  color: #232d54;
  text-align: center;
  border: 2px solid rgb(221, 207, 207);
  border-radius: 25px;
}

.alert-box-actions-edit {
  position: fixed;
  top: 38vh;
  left: 12vw;
  width: 70vw;
  height: 40vh;
  padding: 16px;
  z-index: 100;
  background: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  color: #232d54;
  text-align: center;
  border: 2px solid rgb(221, 207, 207);
  border-radius: 25px;
}

.alert-box-actions {
  text-align: right;
}

input {
  direction: rtl;
  height: 25px;
  text-align: center;
  border-radius: 10px;
}
.closeBtnOrbuy {
  width: 120px;
  height: 35px;
  color: white;
  background-color: #232d54;
  cursor: pointer;
  border-radius: 5px;

}
.delete-confirm-btn {
    width: 120px;
    height: 35px;
    color: white;
    background-color: #4caf50;
    cursor: pointer;
    border-radius: 5px;
}

.btns-container{
    display: flex;
    justify-content: space-between;
}
