
.tp-radio-button {
    margin: 5px;
 }
 .tp-selected-value {
    margin: 15px 0;
 }
.main-img{
    width: 65%;
    height: 65%;
    margin-right: 30%;
    margin-left: 15%;
    margin-top: 15%
}

.thumbnail {
    width: 960px;
    height: 720px;
}

.image {
    width: 100%;
    height: 100%;    
}

.image img {
    -webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* IE 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
}

.image:hover img {
    -webkit-transform:scale(1.25); /* Safari and Chrome */
    -moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
    -o-transform:scale(1.25); /* Opera */
     transform:scale(1.25);
}

.mat-radio-outer-circle {
    border-color: blue !important;
}



/* ------------------------------------------------ */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.75);
    z-index: 50;
  }
  
  .alert-box {
    position: fixed;
    top: 30vh;
    left: 30vw;
    width: 35vw;
    padding: 16px;
    z-index: 100;
    background: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    color: #232d54;;
    text-align: center;
    border: 2px solid #232d54;;
    border-radius: 25px;
  }
  
  .alert-box-actions {
    text-align: right;
  }
  .closeBtnOrbuy{
      width: 100px;
      height: 30px;
    color: white;
     background-color: #232d54;
      cursor: pointer;
      border-radius: 5px;
  }

  .white-space{
      color: white;
  }



