<div *ngIf="massegsesMode">



    <!-- <div class="header">
        <div class="btn-header">
            <span (click)="onClosemassagesBox()" class="material-icons" style="color: white; font-size: 4vh; position: absolute;
            margin-left: 83%; cursor: pointer;"> close</span><br><br><br>
        </div>
    </div>
    <div class="warper-left-nav-bar-users ">
        <div class="left-nav-bar">
            <div  *ngFor="let user of allUsers" (click)="sendMsgToUser(user)" style="display: flex; margin: 1%; padding: 5%; ">
                <img style="border-radius: 50%; margin-left: 5%; " height="24%" width="24%"
                    src={{user.imgProfile}}>
                <div style="width: 70%; ">
                    <div style="text-align: center; margin-bottom: 5%; cursor: pointer;">
                        <span style="color: white; font-size: 1.5vh;" class="name-meta">{{user.username}}</span>
                    </div>
                    <div>
                    </div>
                </div>
            </div> 
        </div>

        <div  style=" width: 100%;" >

            <div class="chat-main-page-scroll" style="overflow-y: scroll; height: 100%;" class="main-massage-page">
                <div *ngFor=" let msg of messageData" style=" padding: 2%;">
                    <div 
                    [ngStyle]="{'background-color':
                    msg.sender_id == userId
                    ? '#dcf8c6' : '#f1f3f0'}  "

                     *ngIf="
                    msg.resiver_id == reciderUserId && msg.sender_id == userId||
                    msg.resiver_id == userId && msg.sender_id == reciderUserId
                    "  class="message-text">
                        <span style="font-size: x-small; color: rgb(145, 140, 140); margin-right: 5%;">{{msg.time}}</span>
                        <span>{{msg.message_text}}</span>
                    </div>

                
                </div>
            </div>



            <div style="height: 59vh; margin-right: 15%;">
                <form [formGroup]="chatMessageForm"  action="">
                <textarea (keyup)="$event.keyCode == 13 && sendMessage()"
                formControlName="message" name="" id="" cols="113" rows="2.3" placeholder="{{messageTo}}"></textarea>
                    <button [disabled]="reciderUserId == undefined || reciderUserId == null|| chatMessageForm.invalid" (click)="sendMessage()">
                <i   
                style="position: absolute;  left: 97%; top: 94%; font-size: x-large;  " 
                [ngStyle]="{'color': reciderUserId == undefined ||  reciderUserId == null || chatMessageForm.invalid
                 ? 'rgb(128, 163, 146)' : 'rgb(11, 92, 52)' }"
               
                 class="fa fa-paper-plane" aria-hidden="true"></i>
                </button>
            </form>
            </div>
        </div>
    </div> -->


    <!-- --------------------------------------------------------------------------------------------------------------------------------------- -->
    <div   class="container app">
        <div class="row app-one">
          <div class="col-sm-4 side">
            <div [ngStyle]="{'display': closeUsersScreen && isMobile ? 'none' : '' }" class="side-one">
              <div class="row heading">
                <div class="col-sm-3 col-xs-3 heading-avatar">
                  <div class="heading-avatar-icon">
                    <img src={{userImgProfile}} alt="">
                    <!-- <img src="https://bootdey.com/img/Content/avatar/avatar1.png"> -->
                  </div>
                </div>
                <!-- <div class="col-sm-1 col-xs-1  heading-dot  pull-right">
                  <i class="fa fa-ellipsis-v fa-2x  pull-right" aria-hidden="true"></i>
                </div> -->
                <div *ngIf="isMobile" (click)="backInChatRoom()" class="col-sm-2 col-xs-2 heading-compose  pull-right">
                  <i class="fas fa-arrow-right fa-2x  pull-right" aria-hidden="true"></i>
                </div>
                <div class="col-sm-2 col-xs-2 heading-compose  pull-right">
                  <i class="fa fa-comments fa-2x  pull-right" aria-hidden="true"></i>
                </div>

               
              </div>
      
              <div class="row searchBox">
                <div class="col-sm-12 searchBox-inner">
                  <div class="form-group has-feedback">
                    <input id="searchText" type="text" class="form-control" name="searchText" placeholder="Search">
                    <span class="glyphicon glyphicon-search form-control-feedback"></span>
                  </div>
                </div>
              </div>
          <div 
           class="row sideBar">
      
                <!-- ------------------------------------------------------------------------------------------ -->
                <div  *ngFor="let user of allUsers" (click)="sendMsgToUser(user)" class="row sideBar-body">
                  <div class="col-sm-3 col-xs-3 sideBar-avatar">
                    <div class="avatar-icon">
                      <img src={{user.imgProfile}}>
                    </div>
                  </div>
                  <div class="col-sm-9 col-xs-9 sideBar-main">
                    <div class="row">
                      <div class="col-sm-8 col-xs-8 sideBar-name">
                        <span class="name-meta">
                          {{ user.username }}</span>
                      </div>
                      <div class="col-sm-4 col-xs-4 pull-right sideBar-time">
                        <span class="time-meta pull-right">18:18
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
      
              
            </div>
          </div>
          <div  [ngStyle]="{'display': !closeUsersScreen && isMobile ? 'none' : '' }" class="side-one" class="col-sm-8 conversation">
            <div class="row heading">
              <div class="col-sm-2 col-md-1 col-xs-3 heading-avatar">
                <div class="heading-avatar-icon">
                  <img src={{reciverImgProfile}} alt="">
                  <!-- <img src="https://bootdey.com/img/Content/avatar/avatar6.png"> -->
                </div>
              </div>
              <div class="col-sm-8 col-xs-7 heading-name">
                <a class="heading-name-meta">{{messageTo}}
                </a>
                <span class="heading-online">Online</span>
              </div>
              <div *ngIf="isMobile"  (click)="backInChatRoom()" class="col-sm-2 col-xs-2 heading-compose  pull-right">
                <i class="fas fa-arrow-right fa-2x  pull-right" aria-hidden="true"></i>
              </div>
              
            </div>
       
      
            <div class="row message" id="conversation">
              <div class="row message-previous">
                <div class="col-sm-12 previous">
                  <a onclick="previous(this)" id="ankitjain28" name="20">
                    Show Previous Message!
                  </a>
                </div>
              </div>
              <div  style="overflow-y: scroll; height:400px;" class="row message-body">
                <div class="col-sm-12 message-main-receiver">
                  <div>
                    <div *ngFor="let msg of messageData" class="message-text">

                      <p [ngStyle]="{'background-color': masseage.sender_id == userId && masseage.resiver_id == reciderUserId ? '#dcf8c6' : '#f1f3f0'} "
                        class="masseages" 
                        *ngIf="
                    msg.resiver_id == reciderUserId && msg.sender_id == userId||
                    msg.resiver_id == userId && msg.sender_id == reciderUserId">
                        {{msg.message_text}}
                      </p>
                      
                    </div>
                    <span class="message-time pull-right"> Sun</span>
                  </div>
                </div>
              </div>
      
            </div>
      
      
            <div class="row reply">
              <div class="col-sm-1 col-xs-1 reply-emojis">
                <i class="fa fa-smile-o fa-2x"></i>
              </div>
              <div class="col-sm-9 col-xs-9 reply-main">
                <form   [formGroup]="chatMessageForm"  action="">
                <textarea  formControlName="message" rows="1" id="comment" placeholder={{messageTo}}></textarea>
                </form>
              </div>
              <div class="col-sm-1 col-xs-1 reply-recording">
                <i class="fa fa-microphone fa-2x" aria-hidden="true"></i>
              </div>
              <div class="col-sm-1 col-xs-1 reply-send">

                      <i (click)="sendMessage()"  class="fa fa-send fa-2x" aria-hidden="true"></i>
                  
              </div>
            </div>
          </div>
        </div>
      </div>
      <br><br><br><br><br><br><br><br>