<div *ngFor="let i of imgDataFromServre">
        <!-- <h1 style="text-align: center"> // {{imgSubList.imagesSubject}}    </h1> -->
        <div style=" text-align: center ; margin-left: 10% ; margin-right: 10%;">
                <div style=" display: inline-block">
                        <div>
                                <div style="cursor: pointer;" (click)="onImgSelected(i)"
                                        style="margin-right: 5px; margin-left: 5px;">
                                        <img [class.mat-elevation-z20]="true" src={{i.imgUrl}} alt="PicPicture">
                                </div>
                                <div style="display: flex;">
                                        <mat-icon mat-stroked-button
                                                (click)="omImgSelectedToBuy(i);  openSnackBar('המוצר התווסף לסל', action)"
                                                style="cursor: pointer;" mat-raised-button matTooltip="הוסף לסל">
                                                shopping_cart
                                        </mat-icon>
                                        <p style="margin-left: 22%;"> {{i.imgDes}}</p>
                                </div>
                                <hr style="width: 50%;">
                                <p>מחיר: {{i.price | currency:'ILS'}}</p>
                        </div>
                </div>
        </div>
</div>