<div  class="shopping-cart">
  <div  style="direction: rtl" class="title">
    סל הקניות
</div>
<div  *ngFor="let item of buyingBagPerUser">
  <div class="item">
        <div class="buttons">
            <span
             class="material-icons delete-btn"> clear </span>
            <span (click)="likeStatus()"class="material-icons like-btn ">favorite</span>
            
        </div>

    <div class="image">
      <img style="width: 120px; height: 80px;" src={{item.imgdata.imgUrl}} alt="" />
    </div>

    <div class="description">
      <span>{{item.printType}}</span>
      <span>{{item.printSize}}</span>
    </div>

    <div class="quantity">
      <b>{{item.imgdata.imgDes}}</b>

    </div>

    <div class="total-price">{{item.imgdata.price | currency:'ILS'}}</div>
  </div>
  </div>


<div *ngIf="!bagIsNotEmpty" class="total-payment-section">

  <div class="total-order-title">
    <p>סה"כ לתשלום</p>
  </div>

  <div class="midd-total-price">
    <div style="display: flex">
    <b style="width: 90%">סכום ביינים</b>
    <p >{{totalPrice | currency:'ILS'}}</p>
    </div>
  </div>

  <div class="end-total-price">
    <div style="display: flex; ">
    <b style="width: 90%">סח"כ</b>
    <p >{{totalPrice | currency:'ILS'}}</p>
    </div>
  </div>

  <div routerLink="/app-payment-form" class="btn-go-to-payment">
    <h3 id="text-payment" style="color: #fff; cursor: pointer"> מעבר לתשלום</h3>
  </div>

</div>



